.container-list-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid #d7dae6;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 90%;
}
.faq-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  color: black;
  font-size: 15px;
  font-weight: 500;
  font-family: roboto;
  width: 70%;
}
.plus-minus-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.line {
  width: 100%;
  border: 1px solid #e4e7eb;
}
